@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #372560;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8257e5;
}